
@{
    ViewBag.Title = "SMS Setup";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.SMSModelAdmin
@section RenderCss{

    <style>
    </style>

}
@section RenderScript{

   

    <script>



        var id = 0, typeid = 0;
        $(document).ready(function () {


            WebUrlToLowerCase();
            id = ConvertToInt(GetQuerystringValues("id"));
            typeid = ConvertToInt(GetQuerystringValues("typeid"));
            GetAndBindInfoById();

            $(document).on('change', '#ddlType', function () {
                typeId = ConvertToInt($('#ddlType').val());
                id = 0;
                window.location = "/admin/sms-setup?typeid=" + typeId;
            });

        });



        function GetAndBindInfoById() {

            try {
                var obj = {};
                obj.typeId = typeid;
                obj.id = id;
                var resp = CallActionPost("/CommonAdmin/SMSGetById", obj);
                if (resp != null) {


                    var listType = resp.Table;
                    DDLBindList("#ddlType", listType);

                    var listProj = resp.Table1;
                    DDLBindList("#ddlProj", listProj);

                    var obj = resp.Table3[0];
                    if (obj != null && obj.id > 0) {
                        $("#ddlType").val(obj.typeId);
                        $("#ddlProj").val(obj.projId);
                        $("#txtDetail").val(obj.detail);
                        $("#txtQuery").val(obj.query);
                        $("#chkIsActive").prop("checked", obj.isActive);
                        $("#chkIsQuery").prop("checked", obj.isQuery);

                    }

                    if (typeid > 0) {
                        $("#ddlType").val(typeid);
                    }
                }
            } catch (e) {
            }
        }

        function SaveData() {
            try {
                var obj = ValidateFormSMS();
                if (obj.isOk) {
                    var resp = CallActionPost("/CommonAdmin/SMSAddUpdate", obj);
                    if (resp != null && resp.status == true) {
                        alert(resp.msg);
                        window.location = "/admin/sms-manage";
                    }
                    else alert(resp.msg);
                }
            } catch (e) {
            }
        }

        function ValidateFormSMS() {

            var obj = {};
            var isOk = true, ctrl = "";

            try {
                obj.id = id;
                obj.inductionId = inductionId;
                obj.typeId = ConvertToInt($("#ddlType").val());
                obj.projId = ConvertToInt($("#ddlProj").val());
                obj.detail = ConvertToString($("#txtDetail").val());
                obj.query = ConvertToString($("#txtQuery").val());
                obj.isActive = $("#chkIsActive").is(":checked");
                obj.isQuery = $("#chkIsQuery").is(":checked");

                if (obj.name == "") {
                    isOk = false;
                }
                if (obj.detail == "") {
                    isOk = false;
                }

            } catch (e) {
                isOk = false;
            }
            obj.isOk = isOk;
            return obj;
        }

    </script>
}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>SMS Setup </h2>
                <div class="panel_toolbox">
                    <a href="/admin/sms-manage" class="btn btn-info"> Manage</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group col-lg-12">

                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label for="heard">Project *:</label>
                            <select id="ddlProj" class="form-control" tabindex="1">
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label for="heard">Type *:</label>
                            <select id="ddlType" class="form-control" tabindex="1">
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label for="heard">Status *:</label>
                            <input class="form-control" id="chkIsActive" type="checkbox" value="true">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label for="heard">Is Query *:</label>
                            <input class="form-control" id="chkIsQuery" type="checkbox" value="true">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label for="heard">Detail *:</label>
                            <textarea id="txtDetail" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label for="heard">Query *:</label>
                            <textarea id="txtQuery" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <input id="btnSave" class="btn btn-success" type="button" value="Submit" onclick="SaveData()" />
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

