@{
    ViewBag.Title = "Ticker Manage";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.EmptyModelAdmin
@section RenderCss{

    <style>
    </style>

}
@section RenderScript{

    <script>
        var fetchTypeId = 0;

        $(document).ready(function () {

            GetAndBindData();

            $(document).on('click', '#btnSearch', function () {
                fetchTypeId = 1;
                GetAndBindData();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    fetchTypeId = 1;
                    GetAndBindData();
                }
            });
        });

        function SetParameters() {

            var obj = {};
            obj.spName = "spTickerSearch";

            var listParam = [];

            var objParam = {};
            objParam.key = "projId";
            objParam.value = ConvertToInt($("#ddlProj").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "reffId";
            objParam.value = ConvertToInt($("#ddlReff").val());
            objParam.dataType = "int";
            listParam.push(objParam);


            var objParam = {};
            objParam.key = "typeId";
            objParam.value = ConvertToInt($("#ddlType").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "detailId";
            objParam.value = ConvertToInt($("#ddlDetailId").val());
            objParam.dataType = "int";
            listParam.push(objParam);


            var objParam = {};
            objParam.key = "fetchTypeId";
            objParam.value = fetchTypeId;
            objParam.dataType = "int";
            listParam.push(objParam);

            obj.listParam = listParam;

            return obj;
        }

        function GetAndBindData() {

            var obj = SetParameters();
            var resp = CallActionPost("/CommonFunctionsAdmin/CallSpGenericToDataSet", obj);

            if (resp != null) {

                if (fetchTypeId == 0) {
                    PreInitBindForm(resp);
                }
                else {
                    BindList(resp);
                }
            }
        }

        var listDetailId = [];
        function PreInitBindForm(resp) {

            var listProj = resp.Table;
            DDLBindList("#ddlProj", listProj, "Select One", -9);
            $("#ddlProj").val(1);

            var listReff = resp.Table2;
            DDLBindList("#ddlReff", listReff, "Select One", -9);
            $("#ddlReff").val(1);

            var listType = resp.Table4;
            DDLBindList("#ddlType", listType, "Select One", -9);
            $("#ddlType").val(1);

            listDetailId = resp.Table6;// induction, hardship

            DDlEventChangeReff();
        }

        function DDlEventChangeReff() {
            var reffId = ConvertToString($("#ddlReff").val());

            var list = [];
            try {
                list = $.grep(listDetailId, function (n, i) {
                    return n.reffId == reffId;
                });
            } catch (e) {
                list = [];
            }


            if (list.length == 0) {

                var obj = {};
                obj.key = "Select One";
                obj.value = 0;
                list.push(obj);

               
            }
            DDLBindList("#ddlDetailId", list, "Select One", -9);
        }

        function BindList(resp) {

            var listData = resp.Table5;

            var htmlAll = "";

            try {
                if (listData != null && listData.length > 0) {

                    var objItem = {}, status = "";
                    var htmlSingle = $("#tbTempt").html();

                    for (var i = 0; i < listData.length; i++) {

                        objItem = listData[i];
                        status = "In-Active";

                        if (objItem.isActive == true) {
                            status = "Active";
                        }
                        htmlAll = htmlAll + htmlSingle.replace(/{#rowNo#}/g, objItem.rowNo)
                            .replace(/{#proj#}/g, objItem.proj).replace(/{#reff#}/g, objItem.reff)
                            .replace(/{#detailKey#}/g, objItem.detailKey).replace(/{#type#}/g, objItem.type)
                            .replace(/{#name#}/g, objItem.name).replace(/{#detail#}/g, objItem.detail)
                            .replace(/{#status#}/g, status).replace(/{#tickerId#}/g, objItem.tickerId);

                    }
                }
            } catch (e) {
                htmlAll = "";
            }
            $("#tbBody").html(htmlAll);
        }


    </script>
}

<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Ticker List </h2>
            <div class="panel_toolbox">
                <a href="/admin/ticker-setup" class="btn btn-info"> Add</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <form class="form-horizontal form-label-left input_mask">
            <div class="form-group col-lg-12">

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label for="heard">Project :</label>
                    <select id="ddlProj" name="ddlProj" class="form-control">
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label for="heard">Type :</label>
                    <select id="ddlType" name="ddlType" class="form-control">
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label for="heard">Reff :</label>
                    <select id="ddlReff" name="ddlReff" class="form-control ddl-event" fn="DDlEventChangeReff">
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label for="heard">Detail Id :</label>
                    <select id="ddlDetailId" name="ddlDetailId" class="form-control">
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label for="heard" style="width:100%;">&nbsp;</label>
                    <input type="button" id="btnSearch" name="btnSearch" value="Search" class="btn btn-success" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ln_solid"></div>
        </form>


        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Sr </th>
                            <th class="column-title">Project </th>
                            <th class="column-title">Reff </th>
                            <th class="column-title">Detail Key </th>
                            <th class="column-title">Type </th>
                            <th class="column-title">Name </th>
                            <th class="column-title">Detail </th>
                            <th class="column-title">Status </th>
                            <th class="column-title">ID </th>
                            <th>
                                <span class="nobr">Action</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody id="tbBody">
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<div style="display:none;">
    <table>
        <tbody id="tbTempt">
            <tr>
                <td>{#rowNo#}</td>
                <td>{#proj#}</td>
                <td>{#reff#}</td>
                <td>{#detailKey#}</td>
                <td>{#type#}</td>
                <td>{#name#}</td>
                <td>{#detail#}</td>
                <td>{#status#}</td>
                <td>{#tickerId#}</td>
                <td>
                    <a title="Edit" class="ank" href="/admin/ticker-setup?id={#tickerId#}"><i class="fa fa-pencil-square-o"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>