@{
    ViewBag.Title = "Applicant Joining";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.ApplicantJoiningAdminModel
@section RenderCss{

    <style>
        .x_title span {
            color: #7a6e6e !important;
        }
    </style>

}
@section RenderScript{

    <script>
        var typeId = 0;
        $(document).ready(function () {

            GetAllByInstiteUser();

            $(document).on('click', '#btnSearch', function () {
                GetAllByInstiteUser();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    GetAllByInstiteUser();
                }
            });

        });

        function GetAllByInstiteUser() {


            var search = ConvertToString($("#txtSearch").val());
            var joinTotal = 0, notJoinTotal = 0, total = 0;

            $("#ankPrint").hide();

            var resp = CallActionGet("/JoiningAdmin/GetAllByInstiteUser?search=" + search);
            if (resp != null && resp.length > 0) {

                joinTotal = resp[0].joined;
                notJoinTotal = resp[0].notJoined;

                total = joinTotal + notJoinTotal;

                var objItem = {};

                var htmlTemp = $("#tbTempt").html();

                $("#tbList").html(htmlAll);

                var isJoin = "";

                var htmlAll = "", htmlSingle = "";


                for (var i = 0; i < resp.length; i++) {

                    htmlSingle = htmlTemp;
                    objItem = resp[i];


                    isJoin = " ";
                    if (objItem.joiningId == 0) {

                        //isJoin = "Not Joined";
                        isJoin = "<a title='Take Joining' class='ank' href='/admin/applicant-join-add?applicantId=" + objItem.applicantId + "'>Add Joning</a>";
                    }
                    else {
                        isJoin = "Joined";
                        $("#ankPrint").show();
                    }


                    htmlAll = htmlAll + htmlSingle.replace(/{#typeName#}/g, objItem.typeName)
                        .replace(/{#specialityName#}/g, objItem.specialityName)
                        .replace(/{#name#}/g, objItem.name).replace(/{#fatherName#}/g, objItem.fatherName)
                        .replace(/{#quotaName#}/g, objItem.quotaName).replace(/{#applicantId#}/g, objItem.applicantId)
                        .replace(/{#emailId#}/g, objItem.emailId).replace(/{#pmdcNo#}/g, objItem.pmdcNo)
                        .replace(/{#contactNumber#}/g, objItem.contactNumber).replace(/{#nationality#}/g, objItem.nationality)
                        .replace(/{#marks#}/g, objItem.marks).replace(/{#hospitalName#}/g, objItem.hospitalName)
                        .replace(/{#pic#}/g, objItem.pic).replace(/{#isJoin#}/g, isJoin);
                }

                $("#tbList").html(htmlAll);


            }
            else {
            }

            $(".spnTotal").html(total);
            $(".spnTotalJoin").html(joinTotal);

        }

    </script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Applicant List </h2>
            <div class="panel_toolbox">
                <h2>Total applicant : <span class="spnTotal"> </span>  &nbsp;&nbsp;&nbsp;</h2>
                <h2>Joined : <span class="spnTotalJoin"> </span>  &nbsp;&nbsp;&nbsp;</h2>
                <a id="ankPrint" style="display:none;" href="/admin/print-applicant-join-institute" target="_blank" class="btn btn-info"> Print</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_title">
            <div class="form-group col-lg-12">
                <div class="col-md-2 col-sm-2 col-xs-2">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" id="txtSearch" placeholder="Search By Program/Speciality/Quota/Applicant Name, PMDC No" class="form-control input-sm txt">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <input type="button" id="btnSearch" class="btn btn-success" value="Search">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive" style=" height:480px; overflow:auto;">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Image </th>
                            <th class="column-title">Form No. </th>
                            <th class="column-title">Name </th>
                            <th class="column-title">Father Name </th>
                            <th class="column-title">PMDC No </th>
                            <th class="column-title">EmailId </th>
                            <th class="column-title">Contact Number </th>
                            <th class="column-title">Marks</th>
                            <th class="column-title">Hospital/Institute </th>
                            <th class="column-title">Program </th>
                            <th class="column-title">Speciality </th>
                            <th class="column-title">Quota </th>
                            <th class="column-title">Nationality </th>

                            <th>
                                <span class="nobr">Action</span>
                            </th>
                        </tr>
                    </thead>
                   
                    <tbody id="tbList" >
                       
                    </tbody>
                </table>
                <table>
                    
                </table>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    <table>
        <tbody id="tbTempt">
            <tr>
                <td>
                    <a class="ank" href="/images/Applicant/{#applicantId#}/{#pic#}" target="_blank" title="Click to view">
                        <img class="imgView" src="/images/Applicant/{#applicantId#}/{#pic#}" style="width: 30px; height: 20px; vertical-align: middle;" />
                    </a>
                </td>
                <td>{#applicantId#}</td>
                <td>{#name#}</td>
                <td>{#fatherName#}</td>
                <td>{#pmdcNo#}</td>
                <td>{#emailId#}</td>
                <td>{#contactNumber#}</td>
                <td>{#marks#}</td>
                <td>{#hospitalName#}</td>
                <td>{#typeName#}</td>
                <td>{#specialityName#}</td>
                <td>{#quotaName#}</td>
                <td>{#nationality#}</td>
                <td>{#isJoin#}</td>
            </tr>
        </tbody>
    </table>
</div>
