@{
    ViewBag.Title = "Supervisor Trainee's";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.EmptyModelAdmin


@section RenderCss{
    <style>
        .flup-img {
            margin: 10px;
        }

        .pd-l0 {
            padding-left: 0px;
        }
    </style>

}
@section RenderScript{

    <script>
        var hospitalId = 0, employeeId = 0, applicantId = 0, isActive = true, objApp = {}, objTrain = {}, listTrainee = [];

        var htmlNoRecord = "";

        $(document).ready(function () {

            WebUrlToLowerCase();

            GetAndBindForm();

            htmlNoRecord = $("#tbNoRecord").html();

            $(document).on('change', '#ddlHospital', function () {
                EventDDlChangeHospital();
            });

            $(document).on('change', '#ddlEmployee', function () {
                EventDDlChangeEmployee();
            });



        });

        function SetParameters() {

            var obj = {};
            obj.spName = "spTraineeSupervisorInfoGetById";
            var listParam = [];

            var objParam = {};
            objParam.key = "adminId";
            objParam.value = ConvertToInt($("#hfdLoggedInUserId").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            obj.listParam = listParam;
            return obj;
        }

        var listEmployee = [];
        function GetAndBindForm() {

            var obj = SetParameters();
            var resp = CallActionPost("/CommonFunctionsAdmin/CallSpGenericToDataSet", obj);

            if (resp != null) {

                var objUser = resp.Table[0];


                listEmployee = resp.Table4;
                var listHospital = resp.Table2;
                DDLBindList("#ddlHospital", listHospital, "Select One", -9);
                $('#ddlHospital').trigger("chosen:updated");


                if (objUser.typeId == 1) {
                    $(".clsHosp").show();
                }
                else {
                    $(".clsHosp").hide();
                }
                EventDDlChangeHospital();
                //divApplicantInfo
            }
        }

        function EventDDlChangeHospital() {
            var hospitalId = ConvertToInt($("#ddlHospital").val());
            var list = $.grep(listEmployee, function (n, i) {
                return n.hospitalId == hospitalId;
            });
            DDLBindList("#ddlEmployee", list, "Select one", 0);
            $('#ddlEmployee').trigger("chosen:updated");
        }

        function EventDDlChangeEmployee() {
            GetAndBindTrainee();

        }

        function GetAndBindTrainee() {

            var htmlAll = htmlNoRecord;
            listTrainee = [];
            var totalCount = 0;
            employeeId = ConvertToInt($("#ddlEmployee").val());

            if (employeeId > 0) {
                var obj = {};

                obj.hospitalId = ConvertToInt($("#ddlHospital").val());
                obj.employeeId = ConvertToInt($("#ddlEmployee").val());
                listTrainee = CallActionPost("/EmployeeAdmin/TraineeAttachedGetByEmployee", obj);
                if (listTrainee != null && listTrainee.length > 0) {

                    htmlAll = "";
                    var objItem = {}, htmlSingle = "";
                    var htmlTemp = $("#tbTempt").html();
                    totalCount = listTrainee.length;

                    for (var i = 0; i < listTrainee.length; i++) {

                        htmlSingle = htmlTemp;
                        objItem = listTrainee[i];

                        htmlAll = htmlAll + htmlSingle.replace(/{#applicantId#}/g, objItem.applicantId)
                            .replace(/{#hospital#}/g, objItem.hospital).replace(/{#yearName#}/g, objItem.yearName)
                            .replace(/{#induction#}/g, objItem.induction).replace(/{#inductionId#}/g, objItem.inductionId)
                            .replace(/{#nameFull#}/g, objItem.nameFull)
                            .replace(/{#pmdcNo#}/g, objItem.pmdcNo).replace(/{#cnic#}/g, objItem.cnic)
                            .replace(/{#quotaName#}/g, objItem.quotaName).replace(/{#typeName#}/g, objItem.typeName)
                            .replace(/{#specialityName#}/g, objItem.specialityName);
                    }
                }

            }
            $("#spnTotal").html(totalCount);
            $("#tbList").html(htmlAll);
        }


        function DeAttachApplicant(ctrl) {

            var result = confirm("Are you  sure to de-attach applicant?");
            if (result) {
                var obj = {};
                obj.spName = "spTraineeDeAttach";
                var listParam = [];

                var objParam = {};
                objParam.key = "adminId";
                objParam.value = ConvertToInt($("#hfdLoggedInUserId").val());
                objParam.dataType = "int";
                listParam.push(objParam);

                var objParam = {};
                objParam.key = "applicantId";
                objParam.value = ConvertToInt($(ctrl).attr("appId"));
                objParam.dataType = "int";
                listParam.push(objParam);

                var objParam = {};
                objParam.key = "inductionId";
                objParam.value = ConvertToInt($(ctrl).attr("indcId"));
                objParam.dataType = "int";
                listParam.push(objParam);

                var objParam = {};
                objParam.key = "hospitalId";
                objParam.value = ConvertToInt($("#ddlHospital").val());
                objParam.dataType = "int";
                listParam.push(objParam);

                obj.listParam = listParam;


                var resp = CallActionPost("/CommonFunctionsAdmin/CallSpGenericToMessage", obj);
                if (resp.status) {
                    EventDDlChangeEmployee();
                }
            }



        }


    </script>
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Trainees Association  </h2>
                <div class="panel_toolbox">
                    <a href="/admin/employee-manage" class="btn btn-info"> Manage</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="demo-form2" class="form-horizontal form-label-left">
                    <div class="form-group col-lg-12">
                        <div class="col-md-6 col-sm-6 col-xs-6 clsHosp " style="display:none;">
                            <label for="heard">Hospital *:</label>
                            <select id="ddlHospital" class="form-control chosen-select" tabindex="1">
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <label for="heard">Supervisor *:</label>
                            <select id="ddlEmployee" class="form-control chosen-select" tabindex="1">
                                <option value="0">Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Listing  </h2>
            <div class="panel_toolbox">
                Total Trainee Attach with with Supervisor : <span id="spnTotal">0</span>

            </div>
            <div class="clearfix"></div>
        </div>
        <div id="pnlSearch" class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Hospital</th>
                            <th class="column-title">Induction</th>
                            <th class="column-title">Year</th>
                            <th class="column-title">Name </th>

                            <th class="column-title">PMDC No </th>
                            <th class="column-title">CNIC </th>
                            <th class="column-title">Quota </th>
                            <th class="column-title">Program </th>
                            <th class="column-title">Specility </th>
                            <th>
                                <span class="nobr">Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbList">
                    </tbody>
                </table>
                @Html.Partial("_Pagination")
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    <table>
        <tbody id="tbTempt">
            <tr class="#cssRedish#">
                <td>{#hospital#}</td>
                <td>{#induction#}</td>
                <td>{#yearName#}</td>
                <td>{#nameFull#}</td>
                <td>{#pmdcNo#}</td>
                <td>{#cnic#}</td>
                <td>{#quotaName#}</td>
                <td>{#typeName#}</td>
                <td>{#specialityName#}</td>
                <td>
                    <span appId="{#applicantId#}" indcId="{#inductionId#}" title="Delete" class="ank ankDelete" onclick="DeAttachApplicant(this)"><i class="fa fa-trash-o"></i></span>
                </td>
            </tr>
        </tbody>
        <tbody id="tbNoRecord">
            <tr>
                <td colspan="9" style="text-align:center;">No record found</td>
            </tr>
        </tbody>
    </table>
</div>

