@{
    ViewBag.Title = "Applicant Attachment Status";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.EmptyModelAdmin
@section RenderCss{

    <style>
        .x_title span {
            color: #7a6e6e !important;
        }
        .clsAction { width: 70px !important;
        }
    </style>

}
@section RenderScript{

    <script>

        var fetchTypeId = 0, typeId = 0;

        var hospitalId = 0, attach = 0, notAttach = 0, specialityId = 0, inductionId = 0, typeId = 0, statusId = 0, indcId = 0;

        $(document).ready(function () {

            WebUrlToLowerCase();
            statusId = ConvertToInt(GetQuerystringValues("statusid"));
            indcId = ConvertToInt(GetQuerystringValues("indcid"));

            searchFunction = "SearchAndBind";


            var filePath = "/Areas/nadmin/Html/Supervisor.html";
            doc = GetDocToDOMParser(filePath);


            SearchAndBind();
            if (indcId > 0 || statusId > 0) {

                $("#ddlInduction").val(indcId);
                $("#ddlStatus").val(statusId);
                fetchTypeId = 1;
                SearchAndBind();
            }

            $(document).on('click', '#btnSearch', function () {
                fetchTypeId = 1;
                SearchAndBind();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    fetchTypeId = 1;
                    SearchAndBind();
                }
            });

           

            $(document).on('change', '#ddlProgram', function () {

                typeId = ConvertToInt($("#ddlProgram").val());
                specialityId = 0;
                DDLSetToDefault("ddlSpeciality", 'Select One', 0);

                if (typeId > 0) {
                    ProgramChangeEvent();
                }
            });
        });


        function SetParameters() {

            var obj = {};
            obj.spName = "spJoinedApplicantByHospitalSearch";

            var listParam = [];

            var objParam = {};
            objParam.key = "top";
            objParam.value = 20;// ConvertToInt($("#ddlTop").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "pageNum";
            objParam.value = pageNo;
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "adminId";
            objParam.value = ConvertToInt($("#hfdLoggedInUserId").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "inductionId";
            objParam.value = ConvertToString($("#ddlInduction").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "hospitalId";
            objParam.value = ConvertToString($("#ddlHospital").val());
            objParam.dataType = "int";
            listParam.push(objParam);


            var objParam = {};
            objParam.key = "specialityId";
            objParam.value = ConvertToInt($("#ddlSpeciality").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "typeId";
            objParam.value = ConvertToInt($("#ddlProgram").val());
            objParam.dataType = "int";
            listParam.push(objParam);


            var objParam = {};
            objParam.key = "attachStatusId";
            objParam.value = ConvertToInt($("#ddlAttchedStatus").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "statusId";
            objParam.value = ConvertToInt($("#ddlStatus").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "search";
            objParam.value = ConvertToString($("#txtSearch").val());
            objParam.dataType = "string";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "fetchTypeId";
            objParam.value = fetchTypeId;
            objParam.dataType = "int";
            listParam.push(objParam);

            obj.listParam = listParam;

            return obj;

        }

        function SearchAndBind() {

            $("#divDownload").hide();

            var obj = SetParameters();
            var resp = CallActionPost("/Common/CallSpGenericToDataSet", obj);

            if (resp != null) {

                if (fetchTypeId == 0) {
                    PreInitBindForm(resp);
                }
                else {
                    GetAndBindJoiningApplicantByHospitalSearch(resp)
                }
            }

        }

        var listIndc = [], listReport = [], listProj = [];
        function PreInitBindForm(resp) {


            var objUser = resp.Table[0];
            if (objUser.typeId == 81) // Hospital User
                $(".cls-hosp").hide();
            else $(".cls-hosp").show();

            var list = resp.Table1;
            DDLBindList("#ddlInduction", list, "Select One", -9);

            var list = resp.Table2;
            DDLBindList("#ddlHospital", list, "Select One", 0);

            var list = resp.Table4;
            DDLBindList("#ddlProgram", list, "Select One", 0);

            var list = resp.Table5;
            DDLBindList("#ddlSpeciality", list, "Select One", 0);

            var list = resp.Table7;
            DDLBindList("#ddlHospital", list, "Select One", 0);

            var list = resp.Table8;
            DDLBindList("#ddlAttchedStatus", list, "Select One", 0);

            var list = resp.Table9;
            DDLBindList("#ddlStatus", list, "Select One", 0);
        }

        var listData = [], listEmp = [];

        function GetAndBindJoiningApplicantByHospitalSearch(resp) {

            var htmlAll = "", htmlSingle = "";

            attach = 0, notAttach = 0;
            var totalCountAll = 0;


            $("#divPagination").hide();
            $("#ankPrint").hide();

            specialityId = ConvertToInt($("#ddlSpeciality").val());
            inductionId = ConvertToInt($("#ddlInduction").val());
            typeId = ConvertToInt($("#ddlProgram").val());

            var url = "/admin/print-applicant-attach-hospital?inductionId=" + inductionId + "&typeId=" + typeId + "&specialityId=" + specialityId + "&hospitalId=" + hospitalId + "&attachStatusId=" + ConvertToInt($("#ddlAttchedStatus").val());

            $("#ankPrint").attr("href", url);

            listData = resp.Table5;
            listEmp = resp.Table6;

            var empId = 0, faClsAttch = "", titleAttch = "", statId = "";

            
            if (listData != null && listData.length > 0) {
                $("#ankPrint").show();
                totalCount = listData[0].totalCount;
                totalCountAll = listData[0].totalCountAll;
                attach = listData[0].totalAttach;
                notAttach = (totalCountAll - attach);

                var objItem = {};
                var htmlTemp = $("#tbTempt").html();

                for (var i = 0; i < listData.length; i++) {

                    htmlSingle = htmlTemp;
                    objItem = listData[i];
                    console.log(objItem);

                    faClsAttch = "fa fa-plus-square-o";

                    titleAttch = "Attach Supervisor";

                    if (objItem.attachStatusId == 1)
                        attach = attach + 1;
                    else
                        notAttach = notAttach + 1;

                    empId = 0;
                    if (objItem.employeeId > 0) {
                        empId = 1;
                        faClsAttch = "fa fa-retweet";
                        titleAttch = "Change Supervisor";
                    }

                    statId = 1;
                    if (objItem.statusId > 1 && objItem.statusId !=999) {
                        statId = 0;
                    }

                    htmlAll = htmlAll + htmlSingle.replace(/{#rowNum#}/g, objItem.rowNum)
                        .replace(/{#induction#}/g, objItem.induction)
                        .replace(/{#inductionId#}/g, objItem.inductionId)
                        .replace(/{#nameFull#}/g, objItem.nameFull).replace(/{#pmdcNo#}/g, objItem.pmdcNo)
                        .replace(/{#applicantId#}/g, objItem.applicantId).replace(/{#supervisor#}/g, objItem.supervisor)
                        .replace(/{#typeName#}/g, objItem.typeName).replace(/{#specialityName#}/g, objItem.specialityName)
                        .replace(/{#hospitalName#}/g, objItem.hospitalName).replace(/{#hospitalId#}/g, objItem.hospitalId)
                        .replace(/{#status#}/g, objItem.status)
                        .replace(/{#attachStatus#}/g, objItem.attachStatus).replace(/#empId#/g, empId)
                        .replace(/#faClsAttch#/g, faClsAttch).replace(/#titleAttch#/g, titleAttch)
                        .replace(/#statId#/g, statId); 
                }

                $("#divAttachStatus").show();
                if (totalCount > 0)
                    CreatePaginationHtml(perPageRecords, totalCount, pageNo);

            }
            else {
                $("#divAttachStatus").hide();
            }

            $("#tbList").html(htmlAll);
            $(".spnAttached").html(attach);
            $(".spnNotAttached").html(notAttach);

            $(".statId0").remove();
        }

        var rowNum = 0;
        function BindAttachementInfoPopEvent(ctrl) {

            htmlTable = GetHtmlFromDoc(doc, "pnlSuperviorAttach");
            $('#mdl').html(htmlTable);
            try {

                try {
                    var hospitalId = ConvertToInt($(ctrl).attr("hospitalId"));
                    var listEmployee = $.grep(listEmp, function (n, i) {
                        return n.hospitalId == hospitalId;
                    });
                    DDLBindList("#ddlEmployee", listEmployee, "Select One", -9);
                } catch (e) {
                }
              
                try {
                     rowNum = ConvertToInt($(ctrl).attr("rowNum"));
                   
                    var objItem = $.grep(listData, function (n, i) {
                        return n.rowNum == rowNum;
                    })[0];
                    $("#txtName").val(objItem.nameFull);
                    $("#txtPMDCNo").val(objItem.pmdcNo);
                    $("#txtInduction").val(objItem.induction);
                    $("#txtType").val(objItem.typeName);
                    $("#txtSpeciality").val(objItem.specialityName);
                    $("#ddlEmployee").val(objItem.employeeId);

                } catch (e) {
                }
            } catch (e) {
            }
            $('#mdl').modal('show');

        }

        function SaveAttachementInfoPopEvent(ctrl) {

            var objItem = $.grep(listData, function (n, i) {
                return n.rowNum == rowNum;
            })[0];

            var objTrain = {};
            objTrain.inductionId = objItem.inductionId;
            objTrain.hospitalId = objItem.hospitalId;
            objTrain.employeeId = ConvertToInt($("#ddlEmployee").val());
            objTrain.applicantId = objItem.applicantId;
            objTrain.isActive = true;
            objTrain.statusId = 1;

  
            var resp = CallActionPost("/EmployeeAdmin/EmployeeTraineeAddUpdate", objTrain);

            if (resp.status == true) {
                $('.close').click();
            }
            alert(resp.msg);
        }

    </script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Applicant List </h2>
            <div id="divAttachStatus" style="display:none;" class="panel_toolbox">
                <h2 style="display:none;">Attached : <span class="spnAttached"> </span>  &nbsp;&nbsp;&nbsp;</h2>
                <h2 style="display:none;">Not Attached : <span class="spnNotAttached"> </span>  &nbsp;&nbsp;&nbsp;</h2>
                <a id="ankPrint" style="display:none;" href="/admin/print-applicant-attach-hospital?hospitalId=" target="_blank" class="btn btn-info"> Print</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_title">
            <div class="form-group col-lg-12">
                <div class="col-md-1 col-sm-1 col-xs-1 cls-hosp" style="display:none;">
                    <label for="heard">Induction </label>
                    <select id="ddlInduction" name="ddlInduction" class="form-control">
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 cls-hosp" style="display:none;">
                    <label for="heard">Hospital </label>
                    <select id="ddlHospital" name="ddlHospital" class="form-control">
                    </select>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 cls-hosp" style="display:none;">
                    <label for="heard">Program </label>
                    <select id="ddlProgram" name="ddlProgram" class="form-control">
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 cls-hosp" style="display:none;">
                    <label for="heard">Specialty </label>
                    <select class="form-control" id="ddlSpeciality" name="ddlSpeciality">
                    </select>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" style="display:none">
                    <label for="heard">Status </label>
                    <select id="ddlAttchedStatus" name="ddlAttchedStatus" class="form-control">
                    </select>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <label for="heard">Status </label>
                    <select id="ddlStatus" name="ddlStatus" class="form-control">
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label for="heard">Search By </label>
                    <input type="text" id="txtSearch" placeholder="Search By Program/Speciality/Quota/Applicant Name, PMDC No" class="form-control input-sm txt">
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <label for="heard">Action </label>
                    <input type="button" id="btnSearch" class="btn btn-success" value="Search">
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Sr </th>
                            <th class="column-title">Induction </th>
                            <th class="column-title">Form No. </th>
                            <th class="column-title">Name </th>
                            <th class="column-title">PMDC No </th>
                            <th class="column-title cls-hosp" style="display:none;">Hospital</th>
                            <th class="column-title">Speciality</th>
                            <th class="column-title">Program</th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Supervisor</th>
                            <th class="column-title clsAction">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbList">
                    </tbody>
                </table>
            </div>
            @Html.Partial("_Pagination")
        </div>
    </div>
</div>
<div style="display:none;">
    <table>
        <tbody id="tbTempt">
            <tr>
                <td>{#rowNum#}</td>
                <td>{#induction#}</td>
                <td>{#applicantId#}</td>
                <td>{#nameFull#}</td>
                <td>{#pmdcNo#}</td>
                <td class="cls-hosp" style="display:none;">{#hospitalName#}</td>
                <td>{#specialityName#}</td>
                <td>{#typeName#}</td>
                <td>{#status#}</td>
                <td>{#supervisor#}</td>
                <td>
                    <a title="Update Status" target="_blank" class="ank" href="/admin/applicant-status-update?indcid={#inductionId#}&applicantId={#applicantId#}"><i class="fa fa-pencil-square-o"></i></a>
                    <a title="Attach" target="_blank" class="ank clsAtch#empIdd#" href="/admin/employee-applicant-association?indcid={#inductionId#}&appId={#applicantId#}" style="display:none;"> &nbsp;|&nbsp;<i class="fa fa-pencil-square-o"></i></a>
                    <span title="#titleAttch#" class="ank statId#statId#" rowNum="{#rowNum#}" hospitalId="{#hospitalId#}" onclick="BindAttachementInfoPopEvent(this);"> &nbsp;|&nbsp;<i class="#faClsAttch#"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>


