@*<div class="landingWarp">
            <h1> Gazette Induction  (January-2022) </h1>
            <div class="col-md-12 col-sm-12 col-xl-12 text-center">
                <a href="/phft/gazatte-fcps" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">FCPS </a>
                <a href="/phft/gazatte-ms" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">MS </a>
                <a href="/phft/gazatte-md" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">MD </a>
                <a href="/phft/gazatte-mds" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">MDS </a>
                <a href="/phft/gazatte-fcpsd" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">FCPS-D </a>
            </div>
        </div>
    <div class="landingWarp">
        <h1> Merit List Induction  (January-2022) Round 03 </h1>
        <div class="col-md-12 col-sm-12 col-xl-12 text-center">
            <a href="/phft/merit/list-fcps" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">FCPS </a>
            <a href="/phft/merit/list-ms" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">MS </a>
            <a href="/phft/merit/list-md" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">MD </a>
            <a href="/phft/merit/list-mds" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">MDS </a>
            <a href="/phft/merit/list-fcpsd" target="_blank" class="btn btnGazat animated-button col-xl-4 col-md-4 col-sm-4 col-12">FCPS-D </a>
        </div>
    </div>*@
