<div class="col-sm-12">
    <hr>
    <p><b>Note:</b> If information submitted is found wrong,mismatched or forged, the application will be rejected and training if started will be discontinued with no right of appeal at institution/government level. All attached images should be readable otherwise application form will be rejected. </p><hr>
</div>
