<div class="mt15" style="text-align:center;">
    <div id="profileLinks" class="breadcrumb flat">
    </div>
</div>
<h3 id="spnProfileHeading" class="text-center">Heading </h3>
<hr class="colorgraph">
