<div id="divPagination" style="display:none;">
    <div id="msgPagination" class="col-md-4">
        <div class="dataTables_info" id="divShowingResult">
            Showing
            <span id="shStart"> </span> to <span id="shEnd"> </span> of <span id="shTotal"></span>
            entries
        </div>
    </div>
    <div id="liPagination" class="col-md-8">
        <ul class="list_pagination">
        </ul>
    </div>
    <ul id="templatePagination" style="display:none;">
        <li class='liPage' id='0' type="first"> First Page</li>
        {#Pagination#}
        <li class='liPage' id='0' type="last"> Last Page</li>
    </ul>
</div>