@{
    ViewBag.Title = "Application Completed ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.LoginModel
@section RenderCss{
 

}
@section RenderScript{

   

}
<div class="container content">
    <div class="row main">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 form-box">
            <div class="main-login main-center">
                <form class="form-horizontal">
                    <h3 class="heading">Register with Punjab Residency Portal</h3>
                    <div  class="col-sm-12" >
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <label class="text-center">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <ul id="idErrorMsg" class="ul-err">
                                        <li>Induction August 2020</li>
                                        <li>Deadline to submit the application form for August 2020 induction has been reached.</li>
                                    </ul>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>