@{
    ViewBag.Title = "Gazat FCPS-D";
    Layout = "~/Views/Shared/_GazatMerit.cshtml";
}
@model Prp.Sln.MeritGazatModel

@section RenderCss
{

}

@section RenderScript
    {


}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="title-grp">Merit List soon will be displayed </h2>


        </div>
    </div>
</div>


