@{
    ViewBag.Title = "Grievance List";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.GrievanceAdminModel
@section RenderCss{

    <style>
        .imgView {
            height: 50px;
            width: 45px;
        }

        .chosen-container {
            width: 100% !important;
        }

        .chosen-single {
            height: 39px !important;
        }

            .chosen-single span {
                margin-top: 5px !important;
            }

            .chosen-single div {
                margin-top: 5px !important;
            }
    </style>

}
@section RenderScript{

    <script>
        var countryTypeId = 0, perPageRecords = 1000, statusId = 0
            , pageNum = 1, totalCount = 0, obj = {};
        $(document).ready(function () {

            var dateFormatDatePocker = 'dd/mm/yyyy';

            var endDate = new Date();

            $("#txtStartDate").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                todayBtn: true,
                changeYear: true,
                linked: true,
                endDate: endDate
            });

            var currentDated = new Date();
            var currentDatedStr = ToDateFormatDDMMYYYWithSlash(currentDated);
            $("#txtStartDate").val(currentDatedStr)



            //SearchGrievance();

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SearchGrievance();
                }

            });

            $(document).on('click', '#btnSearch', function () {
                SearchGrievance();
            });

            $(document).on('click', '#btnPrint', function () {
                PrintGrievance();
            });


            //
        });

        function SearchGrievance() {

            var rowHtml = "";

            $("#tbPanel").html("");

            obj = {};
            obj.top = perPageRecords;
            obj.pageNum = pageNum;
            obj.typeId = ConvertToInt($("#ddlType").val());
            obj.verficationTypeId = 0;
            obj.checkListIds = "";
            obj.datedStr = ConvertToString($("#txtStartDate").val());
            obj.search = "";// ConvertToString($("#txtSearch").val());



            var url = "/GrievanceAdmin/GrievanceSearchPrint";

            var list = CallActionPost(url, obj);

            var html = "";

            var singleHtml = "", objItem = {};
            if (list != null && list.length > 0) {

                totalCount = list[0].totalCount;
                rowHtml = $("#tbTempHtml").html();

                for (var i = 0; i < list.length; i++) {

                    objItem = list[i];
                    singleHtml = rowHtml;


                    html = html + singleHtml.replace(/{#attendenceNo#}/g, objItem.attendenceNo)
                        .replace(/{#name#}/g, objItem.name)
                        .replace(/{#pmdcNo#}/g, objItem.pmdcNo)
                        .replace(/{#contactNumber#}/g, objItem.contactNumber)
                        .replace(/{#emailId#}/g, objItem.emailId)
                        .replace(/{#title#}/g, objItem.title)
                        .replace(/{#remarks#}/g, objItem.remarks)
                        .replace(/{#remarksTypeName#}/g, objItem.remarksTypeName);

                }

                $("#tblPanel").show();
                $("#pnlSearch").show();
                $("#tbPanel").html(html);

            }
            else {

                $("#pnlSearch").hide();
                $("#tblPanel").hide();
                $("#tbPanel").html("");
            }

        }

        function SetValueAndValidateForm(event) {

            var isOk = true;

            if (isOk == false)
                event.preventDefault();
        }

        function PrintGrievance() {

            printDiv();

        }


    </script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Grievance List </h2>
            <div class="clearfix"></div>
        </div>
        <form class="form-horizontal form-label-left input_mask">
            <div class="form-group col-lg-12">
                <div class="col-md-3 col-sm-3 col-xs-3">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label for="heard">Type :</label>
                    <select id="ddlType" name="ddlType" class="form-control">

                        @if (Model != null && (Model.listType != null && Model.listType.Count > 0))
                        {
                            <option value="0">Select One </option>
                            foreach (var u in Model.listType)
                            {
                                <option value="@u.id">@u.value </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label for="heard">Date :</label>
                    <input type="text" id="txtStartDate" name="txtStartDate" class="form-control" />
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label for="heard" style="width:100%;">&nbsp;</label>
                    <input type="button" id="btnSearch" name="btnSearch" value="Search" class="btn btn-success" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ln_solid"></div>
        </form>
        <div class="x_content" id="pnlSearch" style="display:none;">
            <form class="form-horizontal form-label-left input_mask">
                <div class="form-group col-lg-12">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <input type="button" id="btnPrint" name="btnPrint" value="Print" class="btn btn-success" />
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="ln_solid"></div>
            </form>
            <div id="divprint">

                <div class="table-responsive">
                    <table id="tblPanel" class="table table-striped jambo_table bulk_action" style="display:none;">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Sr. </th>
                                <th class="column-title">Name </th>
                                <th class="column-title">BRIEF DESCRIPTION </th>
                                <th class="column-title">DECISION </th>
                                <th class="column-title">REMARKS</th>
                            </tr>
                        </thead>
                        <tbody id="tbPanel">
                        </tbody>
                    </table>
                </div>
            </div>
           

            <div style="display:none;">
                <table>
                    <tbody id="tbTempHtml">
                        <tr class="tbRow">
                            <td>{#attendenceNo#}</td>
                            <td>
                                Name : {#name#} <br />
                                PMDC No : {#pmdcNo#} <br />
                                Contact : {#contactNumber#} <br />
                                Email : {#emailId#} <br />
                            </td>
                            <td>{#title#}</td>
                            <td>{#remarksTypeName#}</td>
                            <td>{#remarks#}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>