@{ ViewBag.Title = "Leave - Setup";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml"; }

@model Prp.Sln.EmptyModelAdmin
@section RenderCss{
    <style>
        .jumbotron {
            padding: 10px 15px;
        }

        .imgView {
            height: 40px;
            width: 70px;
        }

        .lblT {
            width: 36%;
            font-size: large;
        }

        .lblV {
            width: 60%;
        }

        .spn-req0 {
            display: none;
        }

        .clsSumarry {
            float: left;
            width: 100%;
            overflow-y: auto;
            height: 350px;
        }
    </style>
}
@section RenderScript{
    <script>
        var doc, leaveId = 0, applicantId = 0, obj = {}, typeId = 6111, leaveTypeId = 6111, objLeaveData = {};

        $(document).ready(function () {

            WebUrlToLowerCase();
            applicantId = ConvertToInt(GetQuerystringValues("appid"));
            $("#hfdApplicantId").val(applicantId);

            SetDatePicker("#txtDateFrom", "3m", "1y", "");
            SetDatePicker("#txtDateTo", "3m", "1y", "");
            SetDatePicker("#txtEdd", "3m", "1y", "");


            $(document).on('change', '#txtDateFrom', function () {
                var dt = ConvertToDate($("#txtDateFrom").val());
                $("#txtDateTo").datepicker({
                    startDate: dt
                });
            });

            var filePath = "/Areas/nadmin/Html/ApplicantInfo.html";
            doc = GetDocToDOMParser(filePath);
            ApplicantLeaveInfoByParam();

            $(document).on('click', '.ankDel', function () {
                var idAttr = $(this).attr("id");
                applicantExperienceId = ConvertToInt(idAttr.replace("ankDel''", ""));
                if (applicantExperienceId > 0 && confirm('Are you sure you want to do delete this?')) {
                    DeleteExprience();
                }
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveLeaveData();
                }
            });

        });

        var listFU = [];
        function ApplicantLeaveInfoByParam() {
            var obj = {};
            obj.applicantId = applicantId;
            obj.leaveId = 0;

            var obj = {};
            obj.spName = "spLeaveGetById";

            var listParam = [];

            var objParam = {};
            objParam.key = "applicantId";
            objParam.value = applicantId;
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "leaveId";
            objParam.value = leaveId;
            objParam.dataType = "int";
            listParam.push(objParam);

            var objParam = {};
            objParam.key = "adminId";
            objParam.value = ConvertToInt($("#hfdLoggedInUserId").val());
            objParam.dataType = "int";
            listParam.push(objParam);

            obj.listParam = listParam;

            var resp = CallActionPost("/Common/CallSpGenericToDataSet", obj);
            if (resp != null) {
                BindPreInitForm(resp);

            }
        }

        function BindPreInitForm(resp) {

            BindAppHtml(resp.Table1[0]);

            BindJobHtml(resp.Table6[0]);

            var list = resp.Table11;
            DDLBindList("#ddlType", list, "", -9, 6111);
            listFU = resp.Table15;

            ChangeEventDDLType();

            BindLeaveHistoryStatus(resp);
        }

        function BindAppHtml(obj) {
            var html = GetHtmlFromDoc(doc, "divApp");

            html = html.replace(/#applicantId#/g, obj.applicantId).replace(/#name#/g, obj.name)
                .replace(/#pic#/g, obj.pic).replace(/#relationType#/g, obj.relationType)
                .replace(/#relation#/g, obj.relation).replace(/#pmdcNo#/g, obj.pmdcNo)
                .replace(/#gender#/g, obj.gender).replace(/#emailId#/g, obj.emailId)
                .replace(/#contactNumber#/g, obj.contactNumber).replace(/#facultyName#/g, obj.facultyName);
            $('#pnlApp').html(html);
        }

        function BindJobHtml(obj) {
            var html = GetHtmlFromDoc(doc, "divJob");
            html = html.replace(/#quotaName#/g, obj.quotaName).replace(/#typeName#/g, obj.typeName)
                .replace(/#specialityName#/g, obj.specialityName).replace(/#hospitalName#/g, obj.hospitalName);
            $('#pnlJob').html(html);
        }

        function BindLeaveHistoryStatus(resp) {

            var singleHtml = $('#htmlLeaveStatus').html();

            var html = "";
            var list = resp.Table23;
            for (var i = 0; i < list.length; i++) {
                var objItem = list[i];
                html = html + singleHtml.replace(/#title#/g, objItem.type).replace(/#noOfDays#/g, objItem.noOfDays)
            }

            var listYear = resp.Table21;
            var listCount = resp.Table22;
            var singleHtmlHead = $('#htmlLeaveStatusHead').html();

            for (var i = 0; i < listYear.length; i++) {
                var objY = listYear[i];
                var title = "Year " + objY.year + " (" + ToDateFormatDDMMYYYWithSlash(objY.startDate) + " to " + ToDateFormatDDMMYYYWithSlash(objY.endDate) + " )";
                html = html + singleHtmlHead.replace(/#title#/g, title);

                var list = $.grep(listCount, function (n, i) {
                    return n.year == objY.year
                });

                for (var j = 0; j < list.length; j++) {
                    var objItem = list[j];
                    html = html + singleHtml.replace(/#title#/g, objItem.type).replace(/#noOfDays#/g, objItem.noOfDays)
                }
            }
            $('#pnlLeaveStatus').html(html);
        }

        var listFlu = [];
        function ChangeEventDDLType() {
            try {
                var leaveId = 0;
                var typeId = ConvertToInt($("#ddlType").val());
                listFlu = $.grep(listFU, function (n, i) {
                    return n.typeId == typeId && n.leaveId == leaveId
                });
                GenerateFileUploader(listFlu);
            } catch (e) {
            }
        }

        function GenerateFileUploader(list) {
            $('#divFlup').html("");
            var htmlAll = "";
            try {
                if (list != null && list.length > 0) {
                    var objItem = {};
                    var htmlSingle = $('#flupRow').html();
                    for (var i = 0; i < list.length; i++) {
                        objItem = list[i];
                        htmlAll = htmlAll + htmlSingle.replace(/{#id#}/g, objItem.fileId).replace(/{#title#}/g, objItem.title)
                            .replace(/{#statusId#}/g, objItem.statusId).replace(/{#remarks#}/g, objItem.remarks)
                            .replace(/{#leaveDocId#}/g, objItem.leaveDocId).replace(/{#isMandatory#}/g, objItem.isMandatory);
                    }
                }

            } catch (e) {
                htmlAll = "";
            }
            $('#divFlup').html(htmlAll);
        }

        var imagesPath = "";

        function SaveLeaveData() {
            var obj = ValidateFormLeave();
            if (obj.isOk == true) {
                var resp = CallActionPost("/ApplicantAction/LeaveAddUpdate", obj);
                if (resp != null && resp.status == true) {
                    var msg1 = resp.msg;
                    var resp = UploadImagesForm(resp.id);
                    var msg = msg1 + resp.msg;
                    if (resp.status == true) {
                        alert(msg1);
                        window.location = "/admin/leave-search";
                    }
                    else alert(msg);
                }
                else alert(resp.msg);
            }
        }

        function ValidateFormLeave() {
            var obj = {};
            var isOk = true, ctrl = "";
            try {

                obj.leaveId = ConvertToInt($("#hfdLeaveId").val());
                obj.typeId = ConvertToInt($("#ddlType").val());
                obj.applicantId = applicantId;

                obj.dateStart = ConvertToString($("#txtDateFrom").val());
                obj.dateEnd = ConvertToString($("#txtDateTo").val());
                obj.dateEdd = ConvertToString($("#txtEdd").val());
                obj.remarks = ConvertToString($("#txtRemarks").val());

                if (obj.dateStart == "") {
                    $("#txtDateFrom").addClass("req-fld");
                    isOk = false;
                    if (ctrl == "")
                        ctrl = "txtDateFrom";
                }

                if (obj.dateEnd == "" && obj.typeId != 6113) {
                    $("#txtDateTo").addClass("req-fld");
                    isOk = false;
                    if (ctrl == "")
                        ctrl = "txtDateTo";
                }

                if (obj.remarks == "") {
                    $("#txtRemarks").addClass("req-fld");
                    isOk = false;
                    if (ctrl == "")
                        ctrl = "txtRemarks";
                }

                if (obj.leaveId == 0) {
                }

                var objItem = {};
                var listFile = $.grep(listFU, function (n, i) {
                    return n.typeId == obj.typeId && n.isMandatory == 1;
                });
                for (var i = 0; i < listFile.length; i++) {
                    objItem = listFile[i];
                    if ($("#fl" + objItem.fileId).val() == "" && objItem.fileName == "") {
                        $("#fl" + objItem.fileId).addClass("req-fld");
                        isOk = false;
                    }
                }

                if (isOk == true) {
                    var resp = CallActionPost("/ApplicantAction/LeaveValidate", obj);
                    if (resp != null && resp.status == false) {
                        isOk = false;
                        alert(resp.msg);
                    }

                }
            } catch (e) {
                isOk = false;
            }
            obj.isOk = isOk;
            return obj;
        }

        function UploadImagesForm(leaveId) {

            var listDataTb = [];

            for (var i = 0; i < listFlu.length; i++) {
                objItem = listFlu[i];
                var fuId = "fl" + objItem.fileId;
                var objfu = {};

                objfu.reffId5 = objItem.fileId; // fileId
                if ($("#fl" + objItem.fileId).val()) {
                    var imgName = ConvertToString(leaveId) + "_" + ConvertToString($("#ddlType").val()) + "_";
                    objItem.image = UploadImageAdmin(fuId, applicantId, imgName, 0, "Leave");
                    $("#hfd" + + objItem.fileId).val(objItem.image);
                }
                objfu.reffIds5 = ConvertToString($("#hfd" + + objItem.fileId).val()); // fileName
                objfu.reffIds10 = ConvertToString($("#flRemarks" + + objItem.fileId).val()); // remarks
                objfu.reffId6 = ConvertToInt($("#flStatus" + + objItem.fileId).val()); // fileName

                if (objfu.reffIds5 != "" && objfu.reffIds5 != "0") {
                    objfu.reffId2 = ConvertToInt($("#hfd" + + objItem.fileId).attr("leaveDocId")); // leaveDocId
                    listDataTb.push(objfu);
                }
            }

            var obj = {};
            obj.leaveId = leaveId;
            obj.listDataTb = listDataTb;

            var resp = CallActionPost("/ApplicantAction/LeaveAddUpdateDocs", obj);
            return resp;
        }

    </script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Leave Application </h2>
            <div class="clearfix"></div>
        </div>
        <fieldset>
            <legend> Application Info  </legend>
            <div id="pnlApp" class="form-group col-lg-12">
            </div>
        </fieldset>
        <fieldset>
            <legend> Joining Information  </legend>
            <div id="pnlJob" class="form-group col-lg-12">
            </div>
        </fieldset>
        <div class="col-md-12 col-sm-12 ">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <fieldset>
                    <legend> Leave Application  </legend>
                    <form class="form-horizontal form-label-left input_mask">
                        <input type="hidden" id="hfdLeaveId" />
                        <div class="form-group col-lg-12">
                            <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                <label for="heard" style="width:100%;">Type *</label>
                                <select id="ddlType" name="ddlType" class="form-control ddl-event" tabindex="1" fn="ChangeEventDDLType">
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                <label for="heard" style="width:100%;">Date From*</label>
                                <input type="text" id="txtDateFrom" name="txtDateFrom" class="form-control" tabindex="1" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4" id="dateToDiv" style="padding-top:20px">
                                <label for="heard" style="width:100%;">Date To*</label>
                                <input type="text" id="txtDateTo" name="txtDateTo" class="form-control" tabindex="2" />
                            </div>
                            <div id="divEdd" class="col-md-4 col-sm-4 col-xs-4 cls-hs" style="padding-top:20px; display:none;">
                                <label for="heard" style="width:100%;">Date Edd *</label>
                                <input type="text" id="txtEdd" name="txtEdd" class="form-control" tabindex="2" />
                            </div>
                            <div id="divFlup" class="row col-lg-12">
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding-top:20px">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label for="heard" style="width:100%;">Remarks *</label>
                                <input type="text" id="txtRemarks" name="txtRemarks" class="form-control" tabindex="3" />
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label for="heard" style="width:100%;">&nbsp;</label>
                                <input type="button" id="btnSave" name="submit" class="btn btn-success" value="Save" tabindex="4" onclick="SaveLeaveData();" />
                            </div>
                        </div>
                    </form>
                </fieldset>
                <fieldset style="display:none;">
                    <legend> Action Info  </legend>
                    <div>
                        <div class="alert alert-danger alert-dismissible show" role="alert" style="clear:both;">
                            <span> Data Not Eixts</span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <fieldset>
                    <legend> Leaves Summary </legend>
                    <div class="clsSumarry">
                        <table border="1" style="width: 100%; font-size:large">
                            <tbody id="pnlLeaveStatus">
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div style="display:none">
    <div id="flupRow">
        <div class="col-md-4 col-sm-4 col-xs-4" id="maternity" style="padding-top:20px">
            <input type="hidden" id="flRemarks{#id#}" value="{#remarks#}" />
            <input type="hidden" id="flStatus{#id#}" value="{#statusId#}" />
            <label style="float: left; clear: both; width: 100%;">{#title#} <span class="spn-req{#isMandatory#}"> *</span> </label>
            <input type="file" class="form-control flup" name="fl{#id#}" id="fl{#id#}" tabindex="3" />
            <input type="hidden" id="hfd{#id#}" value="{#leaveDocId#}" />
            <img id="img{#id#}" class="flup-img" src="" alt="" style="display:none;" />
            <a id="rmv{#id#}" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
        </div>
    </div>

    <table>
        <tbody id="htmlLeaveStatus">
            <tr>
                <td style="width: 200px">
                    #title#
                </td>
                <td style="width: 200px">
                    #noOfDays#  Days
                </td>
            </tr>
        </tbody>

        <tbody id="htmlLeaveStatusHead">
            <tr>
                <td colspan="2">
                    <b>#title#</b>
                </td>
            </tr>
        </tbody>
    </table>


</div>