@{
    ViewBag.Title = "Grievance Attendence Status List";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.ContactAdminModel
@section RenderCss{

    <style>
        .imgView {
            height: 50px;
            width: 45px;
        }

        .chosen-container {
            width: 100% !important;
        }

        .chosen-single {
            height: 39px !important;
        }

            .chosen-single span {
                margin-top: 5px !important;
            }

            .chosen-single div {
                margin-top: 5px !important;
            }
    </style>

}
@section RenderScript{

    <script>
        var countryTypeId = 0, perPageRecords = 20, statusId = 0
            , pageNum = 1, totalCount = 0, obj = {};
        $(document).ready(function () {


            SearchAttendence();


            $(document).on('click', '#btnSearch', function () {
                SearchAttendence();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SearchAttendence();
                }
            });

            $(document).on('click', '.liPage', function () {

                var id = ConvertToInt($(this).closest('li').attr("id"));

                $(".liclick").removeClass("current");

                var pageNo = id;// ConvertToInt($(this).val());

                if (pageNo == 0) {

                    if ($(this).attr("type") == "first") {

                        pageNo = 1;
                    }
                    else
                        if ($(this).attr("type") == "last") {

                            var lastPage = Math.ceil(totalCount / perPageRecords);
                            pageNo = lastPage;
                        }
                }
                pageNum = pageNo;

                SearchAttendence();

            });

        });

        function SearchAttendence() {

            var rowHtml = "";

            $("#tbPanel").html("");

            obj = {};
            obj.top = perPageRecords;
            obj.pageNum = pageNum;
            obj.typeId = ConvertToInt($("#hfdTypeId").val());
            obj.search = ConvertToString($("#txtSearch").val());

            var url = "/ContactUsAdmin/ContactAttendenceStatusSearchCurrent";

            var list = CallActionPost(url, obj);

            var html = "", status = "", isSelf = "", datedAttendece = "", attendence = "", display = "", displayComments = "";

            var singleHtml = "", objItem = {};
            if (list != null && list.length > 0) {

                totalCount = list[0].totalCount;
                rowHtml = $("#tbTempHtml").html();

                for (var i = 0; i < list.length; i++) {

                    objItem = list[i];
                    singleHtml = rowHtml;

                    datedAttendece = "";
                    attendence = "";
                    isSelf = "Self";
                    display = "block";

                    displayComments = "none;"

                    if (objItem.isSelf == 0) {
                        isSelf = "";
                    }
                    else if (objItem.isSelf > 1) {
                        isSelf = "Relative";
                    }

                    if (objItem.attendenceNo == 999)
                        objItem.attendenceNo = 0;

                    if (objItem.attendenceNo > 0) {

                        display = "none";
                        attendence = objItem.attendenceNo;
                        datedAttendece = objItem.dated;
                        displayComments = "block";

                    }

                    html = html + singleHtml.replace(/{#rowNum#}/g, objItem.rowNum)
                        .replace(/{#applicantId#}/g, objItem.applicantId)
                        .replace(/{#name#}/g, objItem.name)
                        .replace(/{#fatherName#}/g, objItem.fatherName)
                        .replace(/{#pmdcNo#}/g, objItem.pmdcNo)
                        .replace(/{#contactNumber#}/g, objItem.contactNumber)
                        .replace(/{#title#}/g, objItem.title)
                        .replace(/{#isSelf#}/g, isSelf)
                        .replace(/{#dated#}/g, datedAttendece)
                        .replace(/{#contactId#}/g, objItem.contactId)
                        .replace(/{#attendenceNo#}/g, attendence)
                        .replace(/{#status#}/g, objItem.status)
                        .replace(/#display#/g, display)
                        .replace(/#displayComments#/g, displayComments)
                        .replace(/{#comments#}/g, objItem.comments)
                        ;

                }

                $("#tblPanel").show();
                $("#tbPanel").html(html);

                if (totalCount > 0)
                    CreatePaginationHtml(perPageRecords, totalCount, pageNum);
            }
            else {

                $("#tblPanel").hide();
                $("#tbPanel").html("");
            }

        }

        function SetValueAndValidateForm(event) {

            var isOk = true;

            if (isOk == false)
                event.preventDefault();
        }

        function ShowingRowsText(perPageRecords, count, pageNum) {

            var rcordsNow = pageNum * perPageRecords;
            var startRecords = rcordsNow - perPageRecords;
            if (rcordsNow > count)
                rcordsNow = count;

            startRecords = startRecords + 1;
            $("#divShowingResult").html("Showing " + startRecords + " to " + rcordsNow + " of " + count + " entries");


        }

        function CreatePaginationHtml(perPageRecords, count, pageNum) {

            try {

                ShowingRowsText(perPageRecords, count, pageNum);
                $("#divPagination").show();

                var htmlPagination = $("#templatePagination").html();
                var pageStart = 1, pageEnd = 5;
                var lastPage = Math.ceil(count / perPageRecords);

                if (pageNum > 3) {
                    pageStart = pageNum - 2;
                    pageEnd = pageNum + 2;
                }

                if (pageEnd > lastPage)
                    pageEnd = lastPage;

                var lisHtml = "";
                for (var i = pageStart; i <= pageEnd; i++) {
                    lisHtml = lisHtml + "<li class='liPage' id='" + i + "'> " + i + "</li>";
                }
                htmlPagination = htmlPagination.replace(/{#lastPage#}/g, lastPage).replace(/{#Pagination#}/g, lisHtml);
                $(".list_pagination").html(htmlPagination);

                $("#" + pageNum).addClass("current");



            } catch (e) {
                $("#liPagination").hide();
            }
        }

    </script>
}

<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">


        @Html.HiddenFor(m => m.typeId, new { @id = "hfdTypeId" })
        @Html.HiddenFor(m => m.applicantId, new { @id = "hfdApplicantId" })

        <form class="form-horizontal form-label-left input_mask">
            <div class="form-group col-lg-12">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <h2>Grievance Status List </h2>
                </div>

                <div class="col-md-1 col-sm-1 col-xs-1">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <input type="text" id="txtSearch" name="txtSearch" placeholder="Search By ID, Name, PMDC, Email" class="form-control" />
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <input type="button" id="btnSearch" name="btnSearch" value="Search" class="btn btn-success" />
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="ln_solid"></div>
        </form>
        <div class="x_content">
            <div class="table-responsive">
                <table id="tblPanel" class="table table-striped jambo_table bulk_action" style="display:none;">
                    <thead>
                        <tr class="headings">
                            <th class="column-title" style="width:2%;">Sr.</th>
                            <th class="column-title" style="width:25%;">Applicant </th>
                            <th class="column-title" style="width:18%;">Subject</th>
                            <th class="column-title" style="width:7%;">Status</th>
                            <th class="column-title" style="width:30%;">Comments</th>
                            <th class="column-title" style="width:5%;">No </th>
                            <th class="column-title" style="width:7%;">Date</th>
                            <th style="width:7%;">
                                <span class="nobr">Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbPanel">
                    </tbody>
                </table>
                <div id="divPagination" style="display:none;">
                    <div id="msgPagination" class="col-md-4">
                        <div class="dataTables_info" id="divShowingResult">
                            Showing
                            <span id="shStart"> </span> to <span id="shEnd"> </span> of <span id="shTotal"></span>
                            entries
                        </div>
                    </div>
                    <div id="liPagination" class="col-md-8">
                        <ul class="list_pagination">
                        </ul>
                    </div>
                    <ul id="templatePagination" style="display:none;">
                        <li class='liPage' id='0' type="first"> First Page</li>
                        {#Pagination#}
                        <li class='liPage' id='0' type="last"> Last Page</li>
                    </ul>
                </div>
                <div style="display:none;">
                    <table>
                        <tbody id="tbTempHtml">
                            <tr class="tbRow" id="{#applicantId#}">
                                <td>{#rowNum#}</td>
                                <td>
                                    {#name#}, S/D/O : {#fatherName#}
                                    <br />{#applicantId#} , {#pmdcNo#}, {#contactNumber#}
                                </td>
                                <td>{#title#}</td>
                                <td>{#status#}</td>
                                <td>{#comments#}</td>
                                <td>{#attendenceNo#}  </td>
                                <td>{#dated#}  </td>
                                <td>
                                    <a title="Attendence" style="display:#display#" class="ank" href="/admin/attendence-mark?contactId={#contactId#}"><i class="fa fa-pencil-square-o"></i></a>
                                    <a title="Comments" style="display:#displayComments#" class="ank" href="/admin/contact-comments?contactId={#contactId#}"><i class="fa fa-mail-forward"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>