@{
    ViewBag.Title = "Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.HomeModel
@section RenderCss{

}
@section RenderScript{

    <script>


    </script>

}
<div class="container content">
    <div class="row main">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 form-box">
            <div class="main-login main-center">
                <form class="form-horizontal">
                    <h3 class="heading">Tesing rights Page</h3>

                    <div id="divError" class="col-sm-12" style=" display:none;">
                        <div id="divMsg" class="panel panel-success">
                            <div class="panel-heading">
                                <label class="text-center">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    Valid Session
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>