@model Prp.Sln.CalenderSetpModel
@{
    ViewBag.Title = "StatusType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container content">
    <div class="row main">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 form-box">
            <div class="main-login main-center">
                <form class="form-horizontal">
                    <h3 class="heading">@Model.objStep.msg</h3>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

