
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.HomeModelAdmin
@section RenderCss{
    <style>

        .tile_stats_count {
            cursor: pointer;
        }

            .tile_stats_count:hover {
                opacity: 0.5;
            }

        .tile_info tr {
            cursor: pointer;
        }

            .tile_info tr:hover {
                opacity: 0.5;
            }

        .tdddd {
            width: 49%;
            float: left;
        }
    </style>

}
@section RenderScript{
    <script>
        $(document).ready(function () {
            //$(document).on('click', '.tile_stats_count', function () {
            //    var id = ConvertToInt($(this).attr("id"));
            //    window.location = "/admin/applicant-account-status?statusId=" + id;
            //});
            //$(document).on('click', '.tr-status', function () {
            //    var id = ConvertToInt($(this).attr("id"));
            //    window.location = "/admin/applicant-application-status?applicationStatusId=" + id;
            //});
        });
    </script>
}
<!-- /top tiles -->

<div class="row col-md-12 col-sm-12">
    <div class="row x_title col-md-12 col-sm-12">
        <div class="col-md-6">
            <h3>Welcome <small> &nbsp; @Model.loggedInUser.firstName &nbsp; @Model.loggedInUser.lastName </small></h3>
        </div>
    </div>
</div>